h1 {
  font-size: 32px;
  font-weight: bold;
  color: #2c3e50;
  text-align: center;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 2px solid #007bff;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.cont {
  max-width: 800px;
  margin: auto;
  background:  #f4f6f8;
  border-radius: 12px;
  padding: 40px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
}

.division {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.side {
  flex: 1;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-weight: 600;
}

input, select {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
  transition: border-color 0.3s;
}

input:focus, select:focus {
  border-color: #007bff;
  outline: none;
}

.bt-salvar {
  margin-top: 20px;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.bt-salvar:hover {
  background-color: #0056b3;
}

a {
  margin-top: 10px;
  text-align: center;
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
